body{
	background: lemonchiffon;
}
#Title1 {
 font-size: 5rem;
        text-transform: capitalize;
        text-shadow: 2px 2px 4px black,
                     4px 1px 6px black;

        text-align: center;
}